spring:
  application:
    name: screenMatchFrases
  datasource:
    url: jdbc:postgresql://${DB_HOST}/${DB_NAME_FRASES}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true