/primeiroProjeto/target/
/outputInpu/target/
/testeTipos/target/
/SomaSwing/target/
/HoraDoSitema/target/
/IdiomaDoSistema/target/
/ResolucaoSistema/target/
/mavenproject1/target/
/OpetadoresAritimeticos/target/
/ProgramaMedia/target/
/ProgramaIdade/target/
/.metadata/
