spring:
  application:
    name: screenmatch-spring-boot
  datasource:
    url: jdbc:postgresql://localhost:5432/alura_series
    username: postgres
    password: 277090
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true